#レポジトリにアップロードしたくないファイルがあればこちらに記載します

main_test.py  # main_test.pyファイルを無視
main_test_2.py  # main_test.pyファイルを無視
main_old.py  # main_test.pyファイルを無視

.env
aaa/          # aaaフォルダ内の全てのファイルを無視 …aaaフォルダが実際になくても、エラーにはなりません

